html {
    box-sizing: border-box;
}

*. *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

main {
    display: flex;
    flex-direction: column;
}
.hero-section {
    background-image: url('img/halie-west-bTzpau9mKT4-unsplash.jpg');
    background-size: cover;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.hero-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, .5);
    width: 50%;
    border-radius: 10px;
    overflow: hidden;
}

.logo {
    width: 50%;
}

.logo-text {
    font-size: 1rem;
    margin: auto;
    color: #fff;
    font-weight: bold;
}

.form-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

fieldset {
    margin: 0;
    padding: 20px;
    border: none;
    box-shadow: 0 0 5px rgb(0,0,0);
    display: grid;
    gap: 10px;
}

h1, form  p {
  text-align: center;  
}

input {
    display: block;
    font-size: 1rem;
    width: 80%;
    padding: 10px 5px;
    border:2px solid #e5e7eb;
    outline: none;
}


input:focus:invalid {
    border-color: red;
    background-color: rgba(255, 0, 0, .25);
}


button {
    display: block;
    margin: 20px auto;
    padding: 10px 5px;
    border-radius: 10px;
    background-color: #8fbc8f;
    font-weight: bold;
    border: none;
}

@media only screen and (min-width: 768px) {
    main {
        flex-direction: row;
    }
    .hero-section {
        height: 100vh;
        width: 40%;
    }
    .hero-content {
        width: 80%;
    }
    .logo-text {
        font-size: 2rem;
    }
    .form-section {
        width: 60%;
        height: 100vh;
    }
    fieldset {
        grid-template-columns: auto auto;
    }
    h2 {
        grid-column-start: 1;
        grid-column-end: 3;
    }
}